elasticsearch[async]==8.10.0
sentence-transformers
Pillow
matplotlib
IPython
fastapi
python-multipart
deepface
pydantic-settings
aiofiles
python-jose[cryptography]
python-dateutil
uvicorn[standard]
aiohttp>=3.8.0